section{
  height:95vh;
  margin-top: 130px;
  background-image: url(../../assets/img/Page-Not-Found-Vector-768x0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
