section
{
  background-color: #1ABC9C;
  height: 95vh;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-weight: 700;
}
img{
  width:65%;
}
.line1,.line2{
  width: 80px;
  height:4px;
  background-color: white;
}



/* i::before{
  content: "";
}
i::after{
  content: "";
  position: absolute;
  width: 80px;
  height:4px;
  left:40px;
  top:50%;
  transform: translateY(-50%);
  background-color: white;
} */
